{% extends 'base.html' %}


    {% block content %}
 <div class="container center">
    <div class="messages">
{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
 {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

    </div>
    {% if not user.is_authenticated %}
<form action="{% url 'home' %}" method="post" >
    {% csrf_token %}
   
  <div class="row mb-3">
    <label for="username" class="col-sm-2 col-form-label">username</label>
    <div class="col-sm-4">
      <input type="username" class="form-control" id="username" name="username" >
    </div>
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password">
    </div>
  </div>

 
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>



{% else %}
<table class="table table-striped me-auto">
  <thead>
    <header>Users Table</header>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col"> Username </th>
            <th scope="col">Email</th>
            <th>View</th>

    </tr>
  </thead>
  <tbody>
    {% for user in users%}
  <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.fist_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td ><a href="{% url 'showUser' user.id %}"  class="bi bi-eye-fill"></a>  </td> 

    </tr>

    </tr>

    </tr>

    </tr>
   {% endfor %}
  </tbody>
</table>



<table class="table table-striped me-auto">
  <thead>
    <header>Custoems Table</header>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Username</th>
       <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Created At</th>
            <th scope="col">View</th>

      


    </tr>
  </thead>
  <tbody>
    {% for user in customers %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{user.fist_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>{{user.zipCode}}</td>
            <td>{{user.dateCreatedAt}}</td>
                 <td ><a href="{% url 'showCustomer' user.id %}"  class="bi bi-eye-fill"></a>  </td> 

    </tr>

    </tr>

    </tr>

    </tr>
   {% endfor %}
  </tbody>
</table>
{% endif %}
    </div>






    {% endblock %}
