{% extends 'base.html' %}


{%  block content %}
    <div class="messages">
{% if form.errors %}
{% for field in form  %}

{% if field.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
 {{ field.errors }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}

    </div>

    <div class="container">

<form action="{% url 'register' %}" method="post" >
    {% csrf_token %}
   
  <div class="row mb-3">
 
  {{ form.as_p }}

  </div>

 
  <button type="submit" class="btn btn-secondary">Sign Up</button>
</form>

    </div>




{% endblock %}