{% extends 'base.html' %}


{% block content %}
{% if user %}

<div class="container">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.first_name.capitalize }} {{user.last_name}}</h5>
       

<ul class="list-group">
  <li class="list-group-item">Username:- {{user.username}}</li>
  <li class="list-group-item"></li>
  <li class="list-group-item">Email:- {{user.email}}</li>
  <li class="list-group-item"></li>
  <li class="list-group-item">Joined:- @{{user.date_joined}}</li>
</ul> 


      </div>
    </div>
  </div>
</div>
 <a href="{% url 'home' %}" class="btn btn-secondary">go Home</a>

</div>


{% else %}
{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
 {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



{% endfor %}
{% endif %}
{% endblock %}