{% extends 'base.html' %}


{% block content %}
<div class="container">

<form action="{% url 'updateCustomer' id  %}" method="post">
    {% csrf_token %}
{{ form.as_p }}
<a href="{% url 'home' %}" class="btn btn-secondary">go Home</a>

<button type="submit" class="btn btn-primary">Update</button>
</form>


{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
 {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

</div>




{% endfor %}



{% endblock %}